.mosaic-canvas {
    border: 1px solid #ccc;
}

.txt-pic {
    display: block;
    position: absolute;
    border: 1px solid #000;
    width: auto;
    padding: 1em;
    background-color: #fff;
}

.txt-pic pre {
    margin: 0;
    line-height: 0.7em;
    font-family: monospace;
    font-size: 12px;
    color: #000;
}

