.impress-row, .impress-ops {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.impress-ops-text {
    font-size: 16px;
    margin-left: 5px;
}

.impress-origin {
    margin: 5px;
    display: block;
}

.impress-line {
    margin: 0;
    line-height: 0.7em;
    font-family: monospace;
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
}

.impress-lines-container {
    margin: 5px;
    transform-origin: 0 0;
}